<ion-header>

  <ion-navbar>
    <ion-title>Editar lista</ion-title>
    <ion-buttons start>
      <button ion-button (click)="cancel()">
        <span color="primary" showWhen="ios">
          Voltar
        </span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button (click)="done()" [disabled]="!isReadyToSave" strong>
        <span color="primary" showWhen="ios">
          Salvar
        </span>
        <ion-icon name="md-checkmark" showWhen="core,android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <form *ngIf="form" [formGroup]="form">
    <ion-list>
      <ion-item>
        <ion-label stacked>Nome</ion-label>
        <ion-input type="text" placeholder="Nome da lista" formControlName="nome" value="{{ list.nome }}"></ion-input>
      </ion-item>
    </ion-list>
  </form>

    <ion-card>
      <ion-card-header>Membros da lista</ion-card-header>
      <ion-card-content>

        <ion-list class="shareList">
          <!-- <ion-list-header text-left>Participantes</ion-list-header> -->
          <ion-item>
            <ion-avatar item-left>
              <img src="assets/img/profile_owner.jpg">
            </ion-avatar>
            <ion-label>Você</ion-label>
          </ion-item>

          <ion-item-sliding *ngFor="let usuario of list.usuarios">
            <ion-item>
              <ion-avatar item-left>
                <img src="assets/img/profile.jpg">
              </ion-avatar>
              <ion-label>{{ usuario.email }}</ion-label>
            </ion-item>
            <ion-item-options side="right">
              <button ion-button color="danger" (click)="unshareList(list, usuario)">
                Excluir
              </button>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>

        <!-- <ion-list class="shareList">
          <ion-list-header text-left>Participantes</ion-list-header>
          <ion-item *ngFor="let usuario of list.usuarios">
            <button clear ion-button item-left icon-only color="danger" *ngIf="usuario.id != usuarioLogado?.id" (click)="unshareList(list, usuario)">
              <ion-icon name="remove-circle"></ion-icon>
            </button>
            <ion-label>{{ usuario.email }}</ion-label>
          </ion-item>
        </ion-list> -->

        <ion-list>
          <ion-item>
            <ion-input type="text" placeholder="Digite o e-mail" [(ngModel)]="emailShare" [ngModelOptions]="{standalone: true}"></ion-input>
            <button ion-button item-right small (click)="shareList(list)">Adicionar</button>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>


</ion-content>
