<ion-header>

  <ion-navbar>
    <ion-title>Editar lista</ion-title>
    <ion-buttons start>
      <button ion-button (click)="cancel()">
        <span color="primary" showWhen="ios">
          Cancelar
        </span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button (click)="done()" [disabled]="!isReadyToSave" strong>
        <span color="primary" showWhen="ios">
          Salvar
        </span>
        <ion-icon name="md-checkmark" showWhen="core,android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <form *ngIf="form" [formGroup]="form">
    <ion-list>
      <ion-item>
        <ion-label stacked>Nome</ion-label>
        <ion-input type="text" placeholder="Nome da lista" formControlName="nome" value="{{ list.nome }}"></ion-input>
      </ion-item>
    </ion-list>


    <ion-list>
      <ion-list-header text-center>Compartilhar lista</ion-list-header>
      <ion-item>
        <ion-input type="text" placeholder="Digite o e-mail" [(ngModel)]="emailShare" [ngModelOptions]="{standalone: true}"></ion-input>
      </ion-item>
    </ion-list>

    <ion-grid>
      <ion-row>
        <ion-col>
          <button ion-button color="secondary" detail-none default large (click)="shareList(list)">Adicionar</button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-list *ngFor="let usuario of list.usuario">
      <ion-item>
        <ion-label>{{ usuario.nome }}</ion-label>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
