<ion-header>

  <ion-navbar>
    <ion-title>{{ list.nome }}</ion-title>
	<ion-buttons end>
	<button ion-button (click)="done(list)" [disabled]="!isReadyToSave">
	  <span color="primary" showWhen="ios">
	    Salvar
	  </span>
	  <ion-icon name="md-checkmark" showWhen="core,android,windows"></ion-icon>
	</button>
	</ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <form *ngIf="form" [formGroup]="form">
    <ion-list>
      <ion-item>
        <ion-input type="text" placeholder="Digite aqui" formControlName="nome"></ion-input>
        <button ion-button item-right (click)="quantityDecrement(subItem)"><ion-icon name="md-remove"></ion-icon></button>
        <ion-input item-right type="number" formControlName="quantidade" disabled="true"></ion-input>
        <button ion-button item-right (click)="quantityIncrement(subItem)"><ion-icon name="md-add"></ion-icon></button>
      </ion-item>
      <ion-item-sliding *ngFor="let item of list.items">
        <ion-item detail-none >
          <h2>{{item.nome}}</h2>
          <button ion-button item-right (click)="quantityDecrement(item)"><ion-icon name="md-remove"></ion-icon></button>
          {{item.quantidade}}
          <button ion-button item-right (click)="quantityIncrement(item)"><ion-icon name="md-add"></ion-icon></button>
        </ion-item>

        <ion-item-options>
          <button ion-button color="danger" (click)="deleteSubItem(subItem)">
            Excluir
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </form>
  
</ion-content>

