page-list-detail {
  .subitem-quantity-wrapper {
    text-align: right;
  }

  .item-nome {
    float: left;
  }

  .item-quantidade-wrapper {
    float: right;
  }

  .input-quantidade {
    width: 45px;
    font-size: 20px;
    input {
      moz-appearance:textfield;
    }
  }

  .input-nome {
    height: 40px;
    width: 100%;
    font-size: 17px;
    input {
      width: inherit;
      height: inherit;
    }
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  typeahead-container {
    position: absolute;
    display: block;
    top: 85px;
    left: 5px;
  }
}
