<ion-header>

  <ion-navbar>
    <ion-title>{{ list.nome }}</ion-title>
	<ion-buttons end>
	<button ion-button (click)="done(list)" [disabled]="!isReadyToSave">
	  <span color="primary" showWhen="ios">
	    Salvar
	  </span>
	  <ion-icon name="md-checkmark" showWhen="core,android,windows"></ion-icon>
	</button>
	</ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <form *ngIf="form" [formGroup]="form">
    <ion-list>
      <ion-grid>
        <ion-row>
          <ion-col col-7>
            <ion-input text-left type="text" placeholder="Digite aqui" formControlName="nome" class="input-nome"></ion-input>
          </ion-col>

          <ion-col col-5>
            <ion-grid>
              <ion-row>
                <ion-col col-4>
                  <button small ion-button (click)="quantityDecrement(item)"><ion-icon name="md-remove"></ion-icon></button>
                </ion-col>
                <ion-col col-4>
                  <ion-input text-center type="number" formControlName="quantidade" disabled="true" class="input-quantidade"></ion-input>
                </ion-col>
                <ion-col col-4>
                  <button small ion-button (click)="quantityIncrement(item)"><ion-icon name="md-add"></ion-icon></button>  
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-item-sliding *ngFor="let item of list.items">
        <ion-item detail-none >
          <h2 text-left class="item-nome">{{item.nome}}</h2>
          <div text-right class="item-quantidade-wrapper">
            {{item.quantidade}}
          </div>
        </ion-item>

        <ion-item-options>
          <button ion-button color="danger">
            Excluir
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </form>
  
</ion-content>

